*{
   margin: 0;
   padding:0;
   box-sizing: border-box;
}
header{
  display: flex;
  justify-content:center;
}
#search-button{
  height: 35px;
}
h3{
  color: red;
}
.margin{
  margin-bottom: 50px;
}
